* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000000e0;
  font-family: Arial, sans-serif;
  height: 100vh;
  overflow: hidden;
}

nav {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.menu-item {
  flex: 1;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #ffffff50;
  text-align: center;
}

.menu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 4vh;
  font-weight: 600;
  position: relative;
  z-index: 10;
  transition: color .4s ease;
}

.menu-item:hover .menu-link {
  opacity: 0;
  
}


/* MARQUEE BACKGROUND */
.marquee {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #5d5c5cff;
  transform: translateY(101%);
  overflow: hidden;
}

/* Inner wrapper */
.marquee-inner {
  width: 200%;
  height: 100%;
  display: flex;
  transform: translateY(101%);
}

/* Infinite scrolling track */
.track {
  width: 200%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2vw;
  animation: scroll 15s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}

.track span {
  color: #0b0b0b;
  text-transform: uppercase;
  font-size: 4vh;
  padding: 1vh 1vw;
}

.track-img {
  width: 360px;          /* wider */
  height: 12vh;          /* taller */
  border-radius: 60px;   /* cleaner, premium curve */
  background-size: cover;
  background-position: center;
  margin: 1.5em 2vw;
  box-shadow: 0 0 20px #00000040; /* adds depth */
  border: 2px solid #000;        /* terminal-like frame */
}
