* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000000e0;
  color: white;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button {
  cursor: pointer;
  border: none;
  background: transparent;
  color: purple;
  width: 200px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  display: grid;
  place-content: center;
  font-weight: 600;
}

.button__text {
  position: absolute;
  inset: 0;
  display: purple;
  transform: rotate(0deg);
  transition: none;
}

.button__text > span {
  position: absolute;
  transform: rotate(calc(19deg * var(--index)));
  inset: 9px;
}

.button__circle {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  background: transparent;
  color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
