* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

#loop-container {
  width: 100%;
  cursor: grab;
  user-select: none;
}

svg {
  width: 100%;
  overflow: visible;
}

#mainText {
  fill: white;
  font-size: 4rem;
  font-weight: 800;
  letter-spacing: 8px;
}

#measureText {
  visibility: hidden;
  opacity: 0;
}
